<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<link rel="stylesheet" href="../../static/css/common.css">
	<script src="../../static/js/jquery-1.11.3.min.js"></script>
	<script src="../../static/js/holder.min.js"></script>
	<script src="../../static/js/jquery.scrollToTop.min.js"></script>
	<style type="text/css">

	</style>
</head>
<body>
<!--header部分  start-->
<div id="header-wrapper">
	<header>
		<div class="head">
			<div class="container clearfix">
				<div class="logo fl">
					<h1><a href="index.html"><img data-src="holder.js/60x40" alt="首页"></a> </h1>
				</div>
				<div class="login-regist-s fr">
					<ul>
						<li><a href="login-regist.html">登录</a></li>
						<li><a href="login-regist.html">注册</a></li>
					</ul>
				</div>
				<div class="fj-info fr">
					<div class="myimg ">
					</div>
				</div>
			</div>
		</div>
		<div class="nav ">
			<div class="container clearfix">
				<nav class="fl">
					<ul>
						<li class="on"><a href="index.html">首页</a></li>
						<li class=""><a href="articles.html">博文大全</a></li>
						<li class=""><a href="top-person.html">达人秀</a></li>
						<li class=""><a href="about.html">关于我们</a></li>
					</ul>
				</nav>
				<div class="search fr">
					<form action="search-result.html">
						<input type="text" placeholder="Search"/>
						<input type="submit" value="搜索">
					</form>
				</div>
			</div>
		</div>
	</header>
</div>
<!--header部分  end-->
<!--用户设置模块  start-->

<div id="user-wrapper">
	<div id="choose" class="container">
		<div class="b-show clearfix">
			<div class="img fr">
				用户专栏<img data-src="js/holder.js/10x10" alt="下拉或收起">
			</div>
		</div>
		<div class="xuanxka user select">
			<ul>
				<li class="active"><a href="user-info.html">个人信息</a></li>
				<li ><a href="user-articles.html">我的博文</a></li>
				<li ><a href="user-photos.html">我的相册</a></li>
				<li ><a href="user-collect.html">我的收藏</a></li>
			</ul>
		</div>
		<div class="xuanxka admin ">
			<ul>
				<li class="active"><a href="user-info.html">个人信息</a></li>
				<li class=""><a href="admin-useradm.html">用户管理</a></li>
				<li class=""><a href="admin-search.html">多方查询</a></li>
				<li class=""><a href="admin-sys.html">系统维护</a></li>
			</ul>
		</div>
		<div class="content container">

		</div>
	</div>
</div>
<!--用户设置模块  end-->
<!--body部分  start-->

<!--body部分  end-->
<!--footer部分  start-->
<div id="footer-wrapper">
	<footer class="container">
		<ul>
			<li><a href=" ">版权信息</a></li>
			<li><a href=" ">站点地图</a></li>
			<li><a href=" ">联系我们</a></li>
		</ul>
		<p>©2014 Maiziedu.com 京ICP证0000001号</p>
	</footer>
</div>
<!--footer部分  end-->
<!-- 回到顶部 -->
<a href="#top" id="toTop"></a>
<script src="../../static/js/common.js"></script>
<script>

	//	//回顶部
	//	$(function() {
	//		$("#toTop").scrollToTop(500);
	//	});
</script>
</body>
</html>